.easytabs-wrapper { margin: 10px 0; }
.easytabs { margin: 0; display: table; border-spacing: 0 0; width: 100%; }
.easytabs li { display: table-cell; text-align: center; vertical-align: middle; max-width: 130px; }
.easytabs li,
.easytabs-a-accordion {
    line-height: normal;
    position: relative;
    z-index: 20;
    background: #fff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow:
        0px 0px 0px 1px rgba(155,155,155,0.3),
        1px 0px 0px 0px rgba(255,255,255,0.9) inset,
        0px 2px 2px rgba(0,0,0,0.1);
}
.easytabs li:hover,
.easytabs-a-accordion:hover { background: #fff; text-decoration: none; }
.easytabs li.active,
.easytabs li.active:hover,
.easytabs-a-accordion.active,
.easytabs-a-accordion.active:hover {
    background: #E1E6E8;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow:
        0px 0px 0px 1px rgba(155,155,155,0.3),
        0px 2px 2px rgba(0,0,0,0.1);
}
.easytabs-a {
    display: block;
    padding: 9px 5px;
    color: #777;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    font-size: 12px;
    line-height: normal;
    font-weight: bold;
}
.easytabs-a-accordion { display: none; padding: 12px 12px; }
.easytabs-content { padding: 7px 8px; }
.easytabs-content {
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
    margin-top: -1px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
#product_tabs_tags_tabbed_contents .input-box input { width: 300px; }
#product_tabs_tags_tabbed_contents .input-box { width: 300px; float:left; margin: 0 10px 3px 0;}
#product_tabs_related_tabbed_contents li { float:left; margin-right: 10px;}
#product_tabs_related_tabbed_contents ol { clear: both;}

.easytabs,
.product-collateral { zoom: 1; }
.easytabs:after,
.product-collateral:after { content: '.'; visibility: hidden; clear: both; display: block; height: 0; font-size: 0; }

@media (max-width: 480px) {
    .easytabs, .easytabs-a-tab { display: none; } /* .easytabs-a-tab should be hidden. See the easytabs.js~12: el.getStyle('display') !== 'none' */
    .easytabs-a-accordion { display: block; }
    .easytabs-content {
        box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
        margin-top: -1px;
        overflow: hidden;
        position: relative;
        z-index: 10;
    }
}
