.easytabs-wrapper { margin: 10px 0; }
.easytabs { display: table; margin: 0; padding: 0; border-spacing: 0 0; width: 100%; }
.easytabs li { display: table-cell; text-align: center; vertical-align: middle; }
.easytabs li,
.easytabs-a-accordion { line-height: normal; }
.easytabs li:hover,
.easytabs-a-accordion:hover { text-decoration: none; }
.easytabs li.active,
.easytabs li.active:hover { text-shadow: 0px 1px 1px rgba(255,255,255, 0.6); }
.easytabs-a {
    display: block;
    padding: 9px 5px;
    color: #777;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    font: bold 12px/normal Arial, Helvetica, Tahoma, sans-serif;
}
.easytabs-content { padding: 7px 8px; }

.easytabs-content .box-collateral { margin: 0; }
.easytabs-content .box-up-sell .products-grid td { padding-left: 7px; padding-right: 7px; }
#product_tabs_tags_tabbed_contents .input-box input { width: 300px; }
#product_tabs_tags_tabbed_contents .input-box { width: 300px; float:left; margin: 0 10px 3px 0;}
#product_tabs_related_tabbed_contents ol { clear: both; }
#product_tabs_related_tabbed_contents li { float:left; margin: 0 10px 15px 0; width: 31%; }
#product_tabs_related_tabbed_contents li:nth-child(1n) { width: 32%; }
#product_tabs_related_tabbed_contents li:nth-child(3n) { margin-right: 0; }
#product_tabs_related_tabbed_contents li:nth-child(3n+1) { clear: left; }
#product_tabs_related_tabbed_contents .product-images { float: left; }
#product_tabs_related_tabbed_contents .product-images a { margin: 0 0 0 5px; }
#product_tabs_related_tabbed_contents .product-details { margin-left: 75px; }
#product_tabs_related_tabbed_contents .price-box { margin: 0; }

.easytabs-a-accordion { display: none; padding: 12px; }
.easytabs-a-accordion.active,
.easytabs-a-accordion.active:hover { color: #48494a; text-shadow: 0px 1px 1px rgba(255,255,255, 0.6); }

/* tab styles */
.easytabs { border: 1px solid #ccc; border-width: 1px 0 1px; }
.easytabs li,
.easytabs-a-accordion {
    background: #fff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    border: 1px solid #ccc;
}
.easytabs-a-accordion { margin-top: -1px; }
.easytabs li { border-top: none; border-bottom: none; border-left-color: #fff; }
.easytabs li:hover { background: #fff; }
.easytabs li:first-child { border-left-color: #ccc; }
.easytabs li.active,
.easytabs li.active:hover { background: #e1e6e8; border-left-color: #f4f4f4; }
.easytabs li.active:first-child,
.easytabs li.active:first-child:hover { border-left-color: #ccc; }
.easytabs-content { border: 1px solid #ccc; border-top: none; }

/* traditional tabs */
/*
.easytabs { border-bottom: 1px solid #ccc; }
.easytabs li:hover { background: #eee;  }
.easytabs li.active { background: #e1e6e8; }
.easytabs-content { border: 1px solid #ccc; border-top: none; }
*/
/* tab styles */

.easytabs,
.easytabs-content,
.product-collateral { zoom: 1; }
.easytabs:after,
.easytabs-content:after,
.product-collateral:after { content: '.'; visibility: hidden; clear: both; display: block; height: 0; font-size: 0; }

@media (max-width: 480px) {
    /*
     * .easytabs-a-tab should be hidden.
     * See the easytabs.js~12: el.getStyle('display') !== 'none'
     */
    .easytabs, .easytabs-a-tab { display: none; }
    .easytabs-a-accordion { display: block; }
}
