amp-accordion.collateral-tabs {
    .tab {
        position: relative;

        &::after {
            border-style: solid;
            border-width: 0 0 2px 2px;
            content: '';
            display: block;
            height: 8px;
            position: absolute;
            vertical-align: top;
            width: 8px;
            right: 15px;
            transform: rotate(135deg);
            top: 25px;
        }

        &[aria-expanded=true]::after {
            top: 20px;
            transform: rotate(-45deg);
        }
    }
}
