<?xml version="1.0"?>
<config>
    <modules>
        <TM_EasyTabs>
            <version>1.2.2</version>
        </TM_EasyTabs>
    </modules>
    <global>
        <helpers>
            <easytabs>
                <class>TM_EasyTabs_Helper</class>
            </easytabs>
        </helpers>
		<resources>
            <easytabs_setup>
                <setup>
                    <module>TM_EasyTabs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easytabs_setup>
            <easytabs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easytabs_write>
            <easytabs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easytabs_read>
        </resources>
    </global>		
    <frontend>
        <layout>
            <updates>
                <easytabs>
                    <file>easytabs.xml</file>
                </easytabs>
            </updates>
        </layout>
        <translate>
            <modules>
                <TM_EasyTabs>
                    <files>
                        <default>TM_EasyTabs.csv</default>
                    </files>
                </TM_EasyTabs>
            </modules>
        </translate>
    </frontend>
	<default>
        <easytabs>
            <general>
				<enabled>0</enabled>
				<descriptiontabbed>0</descriptiontabbed>
				<additionaltabbed>0</additionaltabbed>
				<upsellproductstabbed>0</upsellproductstabbed>
				<relatedtabbed>0</relatedtabbed>
				<tagstabbed>0</tagstabbed>
				<reviewtabbed>0</reviewtabbed>
            </general>
            <custom>
				<customtab>0</customtab>
				<customtab1>0</customtab1>
				<customtab2>0</customtab2>
				<customtab3>0</customtab3>
				<customtab4>0</customtab4>
            </custom>
            <customcms>
				<tabcms>0</tabcms>
				<tabcms1>0</tabcms1>
				<tabcms2>0</tabcms2>
				<tabcms3>0</tabcms3>
				<tabcms4>0</tabcms4>
            </customcms>			
        </easytabs>
    </default>
    <adminhtml>
    <translate>
        <modules>
            <TM_EasyTabs>
                <files>
                    <default>TM_EasyTabs.csv</default>
                </files>
            </TM_EasyTabs>
        </modules>
    </translate>
    </adminhtml>
</config>